.container-aPropos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;

  .btn-aPropos {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 2em;
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    font-size: 12px;
  }

  .Title {
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    align-items: center;
    margin-left: 1em;
  }

  .Arrow {
    font-size: 4em;
    transition: transform 0.3s ease;
    margin-right: 10px;
  }

  .text-aPropos {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f6f6f6;
    color: #ff6060;
    border-radius: 0 0 10px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    p {
      padding: 1em;
    }
}
.text-aPropos.open {
  max-height: 500px;
}
}
