a, li {
  text-decoration: none;
  color: #ff6060;
  list-style: none;
  font-size: 25px;
}

.header {
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  img {
    margin: 1em;
    width: 15%;
  }
}

.nav-links {
  display: flex;


  a {
    @media (max-width: 768px) {
      font-size: 20px;
    }

    @media (max-width: 400px) {
      font-size: 15px;
    }
    &:hover { /* Add this block */
      text-decoration: underline; /* Underline the link on hover */
    }
  }
}

.links {
  margin-right: 25px;
}

/* Media Query pour les petits écrans */
@media (max-width: 768px) {
  .header img {
    width: 30%;
  }
}
