.RentalList {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.ctn-flat-list {
  width: 89%;
}

.flat-list {
  display: grid;
  justify-items: center;
  grid-template-columns:  repeat(3,1fr);
  background-color: #f6f6f6;
  border-radius: 20px;
  gap:20px;
  padding: 2em;
}

.flat-item {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3));
  background-color: #ff6060;
  border-radius: 10px;
  height: 19em;
  width: 19em;
}

.flat-item h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 33%;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  margin-left: 5px;
  padding: 2px;
}
@media (min-width: 3800px) {
  .flat-item {
    height: 27em;
    width: 27em;
  }
}
@media (max-width: 1600px) {
  .flat-item {
    height: 15em;
    width: 15em;
  }
}
@media (max-width: 1400px) {
  .flat-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media Query pour les écrans moyens */
@media (max-width: 1024px) {
  .flat-item {
    height: 14em;
    width: 14em;
  }
  .flat-item h2 {
    font-size: 12px;
  }
}

@media (max-width: 875px) {
  .flat-item {
    height: 12em;
    width: 12em;
  }

  .flat-item h2 {
    font-size: 10px;
  }
}

/* Media Query pour les petits écrans */
@media (max-width: 768px) {
  .flat-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .flat-item {
    height: 13em;
    width: 13em;
  }

  .flat-item h2 {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .flat-item {
    height: 12em;
    width: 12em;
  }

  .flat-item h2 {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .flat-item {
    height: 10em;
    width: 10em;
  }

  .flat-item h2 {
    font-size: 8px;
  }
}
@media (max-width: 300px) {
  .flat-item {
    height: 8em;
    width: 8em;
  }

  .flat-item h2 {
    font-size: 6px;
  }
}